[Unit]
Description=Ready LED
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/raspberry-ready-led-${root_artifact_version}
ExecStart=/opt/raspberry-ready-led-${root_artifact_version}/lua5.4 ready_led.lua

[Install]
WantedBy=multi-user.target
